@media (prefers-color-scheme: dark) {
  .elf-navbar .navbar-brand {
    color: rgba(255,255,255);
  }
  .elf-navbar .navbar-toggler {
    color: rgba(255,255,255,.8);
  }
  .elf-navbar .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
  }

  .elf-card {
    background-color: transparent;
  }
  .elf-card a {
    color: #e1e1e1;
  }

  .elf-author a {
    color: #e1e1e1;
  }

  .elf-footer {
    border-top: 1px solid rgba(255,255,255,.1);
    background-color: transparent;
  }

  .elf-comment__actions a {
    color: #999;
  }
}
